.Tabla2{
    padding: 30px;
}

.contenT{
    width: 100%;
    text-align: center;
}

#estilos_row{
border-style: none;
}

#rowbg{
    padding-bottom: 100px;
    color: black;
}

.inicio5 {
    width: 100%;
    float: left;
    padding-left: 10px;
    
}
#cir5{
    cursor: pointer;
    font-size: 50px;
    color: #ffffff;
}
    
.fondobg{
    background-color: #1E64F0;
    color: white;
}


.div_info01{
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Format01{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 30px
}

.content_actionsPage01{
    display: flex;
}
