@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.modoO {
  float: right;
  border-style: none;
}
.button01 {
  border: none;
  background-color: transparent;
}
.modoO:hover {
  background: black;
  border-style: none;
}

.imagen01 {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.dropdown {
  float: right;
  width: 8%;
}

.imagen01 {
  width: 100%;
}

#inputsdisables {
  text-align: center;
  display: none;
}

.row {
  text-align: center;

  display: flex;

  justify-content: center;
}

.ImagenF {
  filter: hue-rotate(209deg) brightness(200%);
  cursor: pointer;
}
.ImagenF2 {
  filter: hue-rotate(209deg) brightness(200%);
  cursor: pointer;
}

.TituloR {
  padding: 3%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.Croles {
  position: relative;
}

.Formu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Lform {
  text-align: center;
}

.Fl {
  border-radius: 10px;
  background: #f2f2f2;
  transition: all 1s;
}

.Fl:hover {
  transition: all 1s;
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
  background: #ffffff;
}

.cont1-asesor01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/Imagenes_R/asesor_financierio.webp");
  background-size: cover;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.cont2-asesor01 {
  padding: 5px;
}

.cont1-direct01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/Imagenes_R/ImgDirector.webp");
  background-size: cover;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.Title-general-Rol {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  font-family: "Bree Serif", serif;
}

.cont2-direct01 {
  padding: 5px;
}

.cont1-cajero01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/Imagenes_R/cajeroAsesor.webp");
  background-size: cover;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.cont2-cajero01 {
  padding: 5px;
}

.cont1-gerent01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/Imagenes_R/gerente01.webp");
  background-size: cover;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.cont2-gerent01 {
  padding: 5px;
}

.cont1-cajerop01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/Imagenes_R/ImgCajerop.webp");
  background-size: cover;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.cont2-cajerop01 {
  padding: 5px;
}

.fondo2 {
  font-family: "Quicksand", sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cont-cerrar01{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}

#btn-cerrar01{

}

.fondo {
  background: linear-gradient(to bottom right, #722bae, #4b2cb2, #3036c6);
}

#input-dark-mode {
  -webkit-appearance: none;
  width: 100px;
  height: 50px;
  position: relative;
  background: white;
  background-size: cover;
  border-radius: 50px;
  float: right;
}

#input-dark-mode::before {
  content: " ";
  background-color: aqua;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

#input-dark-mode:checked {
  background: black;
}

#input-dark-mode:checked::before {
  transform: translate(100%);
  background-color: blue;
}

.darkmode {
  background: black;
  color: white;
}
.principal2 {
}
.colsito1 {
  width: 40%;
  height: 100%;
}
.colsito2 {
  width: 40%;
  height: 100%;
}
.colsito3 {
  width: 40%;
  height: 100%;
}
.colsito4 {
  width: 40%;
  height: 100%;
}
.colsito5 {
  width: 80%;
  height: 100%;
}
.ImagenI {
  width: 20%;
  height: 20%;
}

#comuncss {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #645a5a;
  transition: all 1s;
  filter: brightness(0.4);
  padding: 0;
}

@media screen and (max-width: 700px) {
  .dropdown {
    width: 20%;
  }
  .fondo2 {
    height: auto;
  }
  .ImagenI {
    width: 50%;
    height: 50%;
  }

  .ImagenF {
    width: 30%;
    height: 30%;
  }
}

.regis {
  font-family: "Quicksand", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#colsito {
  padding-bottom: 10px;
}
